*.code-workspace
*.py[co]
/.idea
/.vs
/.vscode
/doc/bin
/doc/html
/b2
/bjam
/b2.exe
/bjam.exe
/.build
/_build*
/bootstrap.log
/cmake-build-*
/test/test_results.txt
/project-config.jam
/src/engine/b2
/src/engine/b2.exe
infer-out
build.log
