*.code-workspace
*.py[co]
/.build
/.vscode
/b2
/b2.exe
/bjam
/bjam.exe
/bootstrap.log
/doc/bin
/doc/html
/example/**/bin
/example/gettext/messages
/example/named-install-dirs/bar
/example/named-install-dirs/foo
/example/named-install-dirs/q
/project-config.jam
/src/engine/*.ilk
/src/engine/*.obj
/src/engine/*.pdb
/src/engine/b2
/src/engine/b2.*
/test/file.jam
/test/test_results.txt
build.log
infer-out
